*{
    font-family: Roboto;
    margin: 0px;
}
.container{
    display: grid;
    grid-template: 20vh 50vh 50vh / .5fr 1fr .5fr;
    background-color: #F2F2F2;
}
strong{
    font-size: .75em;
}
h1{
    font-size: 1.25em;
    margin: 1em 1em 1em .25em;
}
.greetingHeader{
    margin: 0px;
}
.greeting{
    display: flex;
}
h2{
    font-size: 1.25em;
    padding-top: 15px;
}
h3{
    align-self: center;
}
h4{
    font-size: 1em;
    margin-bottom: 0px;
}
p{
    font-size: .75em;
    margin: 5px 5px 5px 0px;
    color: gray;
}
li{
    margin-top: .5em;
    font-size: 1.5em;
    display: flex;
}
.smallProfile{
    width: 40px;
    margin: 0px 15px;
}
.header{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-area: 1 / 2 / 2 / 4;
    background-color: white;
    box-shadow: 0 5px 2px -2px lightgrey;
    position:relative;
    padding: 10px;
    
}
.bigProfile{
    width: 12%;
}
.searchIcon{
    width:5%;
}
.account{
    display: flex;
    justify-content: center;
}
.notification{
    width: 5%;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 70%;
    justify-self: center;
    align-items: center;
}
button{
    background-color: #0fb0f5;
    border-radius: 15px;
    color: white;
    border: none;
    width: 25%;
    height: 60%;
    text-align: center;
}
.searchContainer{
    display: flex;
}
input.search{
    width: 90%;
    height: 60%;
    align-self: center;
    color: #F2F2F2;
    border-radius: 10px;
    border: none;
    background-color: #F2F2F2;
    padding: 5px 0px;
}
.sidebar{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background-color: #0fb0f5;
    color: white;
}
.settingsButton{
    display:flex;
    align-items: end;
}
.navigation{
    display: grid;
    grid-template: repeat(6, 1fr) 2fr repeat(3, 1fr) / 1fr;
    list-style-type: none;
}
.headerHolder{
    display: flex;
}
.dashboard{
    filter: invert(100%);
    width: 10%;
    margin: 1em 0em 1em 1em;
}
.navImage{
    width: 9%;
    filter: invert(100%);
    margin-right: .5em;
}
.main{
    grid-row: 2 / 4;
    padding: 0px 10px 0px 10px;
}
.projects{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
    height: 90%;
    margin-top: 10px;
}
.project, .announcementsContainer, .trendingContainer{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 2px -2px lightgrey;
    padding: 10px;
}
.project{
    box-shadow: 5px 5px 2px -2px lightgrey,
    inset 6px 0px yellow;
    padding-left: 20px;
}
.shareImage{
    width: 10%;
    margin-left: 10px;
}
.share{
    height: 60%;
    justify-content: end;
    display: flex;
}
.announcementsContainer, .trendingContainer{
    margin-top: 10px;
    padding: 20px;
}
.announcements{
    grid-row: 2 / 3;
}
.trendingInfoContainer{
    display: flex;
}
.borderBottom{ 
    padding-bottom: 5px; 
    border-bottom: lightgray solid 2px;
}
.trending{
    grid-row: 3 / 4;
}